<div class="recipe-search flex-center">
  <form (submit)="searchRecipes()">
    <div class="keyword flex-center">
      <div class="search-header"><label for="keyword">KEYWORD</label></div>
      <input
        type="text"
        placeholder="ie. beef stew"
        class="keyword-search shadow"
        name="keyword"
        id="keyword"
        [(ngModel)]="keyword"
      />
    </div>
    <div class="selections-container shadow flex-center">
      <div class="search-header">DIET</div>
      <div class="diet-checkboxes">
        <div class="diet-checkbox" *ngFor="let diet of diets; let i = index">
          <input
            type="checkbox"
            [value]="diet"
            (change)="onCheckChange($event)"
            name="diet"
            id="diet"
          />
          <label for="diet">{{ diet }}</label>
        </div>
      </div>
    </div>

    <div class="ingredients flex-center">
      <div class="search-header">
        <label for="maxIngredients">MAX INGREDIENTS</label>
      </div>
      <input
        type="number"
        placeholder="ie. 4"
        class="max-ingredients shadow"
        name="max-ingredients"
        id="maxIngredients"
        [(ngModel)]="maxIngredients"
      />
    </div>

    <div class="submit flex-center">
      <button class="submit-search">
        <span>SEARCH</span>
      </button>
    </div>
  </form>
</div>
