.recipe-search {
  background-color: #f78f27;
  border-radius: 8px;
  padding: 30px;
}

.search-header {
  font-size: 26px;
  text-align: center;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shadow {
  box-shadow: 0px 0px 5px 0px #a15508;
}

.keyword-search,
.max-ingredients {
  border: none;
  margin-top: 15px;
  font-size: 15px;
  border-radius: 5px;
  padding: 5px;
  width: 200px;
  background-color: #cfd1d0;
  cursor: text;
  outline: none;
}

.selections-container {
  margin: 40px 0px;
}

.selections-container {
  padding: 10px;
  border-radius: 5px;
  background-color: #2b898b;
}

.diet-checkboxes {
  margin: 10px 0px;
}

.diet-checkbox {
  display: flex;
  align-items: center;
  margin: 5px 0px;
  cursor: pointer;
}

.diet-checkbox > input {
  height: 18px;
  width: 18px;
  margin-right: 5px;
  border: 1px solid #34495e;
  border-radius: 4px;
  outline: none;
  background-color: #cfd1d0;
  -webkit-appearance: none;
}

.diet-checkbox > input:checked {
  border: 1px solid #cfd1d0;
  background-color: #34495e;
}

.submit-search {
  font-size: 20px;
  width: 200px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #213037;
  color: #cfd1d0;
  margin-top: 40px;
  transition: all 0.5s;
  outline: none;
}

.submit-search span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.submit-search span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.submit-search:hover span:after {
  opacity: 1;
  right: 0;
}

.submit-search:hover span {
  padding-right: 25px;
}

.submit-search:hover {
  cursor: pointer;
}
