header {
  overflow: auto;
}

.logo {
  float: left;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}

div.link {
  margin: 0px 10px 0px 10px;
}

a:hover {
  color: orange;
}

a {
  text-decoration: none;
  color: #213037;
  font-size: 18px;
}

.fruit {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 5px;
}

@media only screen and (max-width: 768px) {
  .fruit {
    display: none;
  }

  .navbar {
    margin: 20px 0px 10px 0px;
    justify-content: center;
    width: 100%;
  }

  div.link {
    padding: 15px 25px;
    border-radius: 5px;
    background-color: #213037;
  }

  a {
    color: white;
  }

  .logo {
    width: 100%;
  }
}
