<app-header></app-header>
<form class="recipe-search">
  <div class="keyword">
    <div class="search-header"><label for="keyword">Keyword</label></div>
    <input
      type="text"
      placeholder="ie. beef stew"
      class="keyword"
      name="keyword"
    />
  </div>
  <div class="dietary-checkboxes">
    <div class="search-header">Diet</div>
    <input type="checkbox" name="celery-free" />
    <label for="celery-free">Celery Free</label>
    <input type="checkbox" name="dairy-free" />
    <label for="dairy-free">Dairy Free</label>
    <input type="checkbox" name="egg-free" />
    <label for="Egg-free">Egg Free</label>
    <input type="checkbox" name="gluten-free" />
    <label for="gluten-free">Gluten Free</label>
    <input type="checkbox" name="kosher" />
    <label for="kosher">Kosher</label>
    <input type="checkbox" name="low-sugar" />
    <label for="low-sugar">Low Sugar</label>
    <input type="checkbox" name="paleo" />
    <label for="paleo">Paleo</label>
    <input type="checkbox" name="pescatarian" />
    <label for="pescatarian">Pescatarian</label>
    <input type="checkbox" name="pork-free" />
    <label for="pork-free">Pork Free</label>
    <input type="checkbox" name="soy-free" />
    <label for="soy-free">Soy Free</label>
    <input type="checkbox" name="shellfish-free" />
    <label for="shellfish-free">Shellfish Free</label>
    <input type="checkbox" name="tree-nut-free" />
    <label for="tree-nut-free">Tree Nut Free</label>
    <input type="checkbox" name="vegan" />
    <label for="vegan">Vegan</label>
    <input type="checkbox" name="vegetarian" />
    <label for="vegetarian">Vegetarian</label>
  </div>
  <div class="meal-types">
    <div class="search-header">Meal Type</div>
    <select>
      <option selected>select option</option>
      <option>Snack</option>
      <option>Breakfast</option>
      <option>Lunch</option>
      <option>Dinner</option>
    </select>
  </div>

  <button class="submit-search">Search</button>
</form>
