.recipe-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8b735;
  margin: 20px 0px 20px 0px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 40px 2px rgba(0, 0, 0, 0.75);
  /* height: 75%; */
}

.selections-container {
  display: flex;
  margin: 40px 0px 40px 0px;
  justify-content: space-around;
}

.dietary-checkboxes {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 20px;
  padding: 20px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  background-color: #2b898b;
}

.checkboxes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.checkboxes div {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 15px;
  color: #213037;
}

.checkboxes input {
  color: aquamarine;
}

input:hover {
  cursor: pointer;
}

.allergy-checkboxes {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  background-color: #2b898b;
}

.meal-types {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 20px;
  padding: 20px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  background-color: #2b898b;
}

.search-header {
  font-size: 26px;
  color: #213037;
  margin: 15px;
  text-align: center;
}

.keyword input {
  border: none;
  font-size: 15px;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
  width: 200px;
  background-color: #cfd1d0;
  cursor: text;
  font-family: 'Poppins', sans-serif;
}

.submit-search {
  font-size: 20px;
  width: 200px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #213037;
  color: white;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
  font-family: "Poppins", sans-serif;
  transition: all 0.5s;
}

.submit-search span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.submit-search span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.submit-search:hover span:after {
  opacity: 1;
  right: 0;
}

.submit-search:hover span {
  padding-right: 25px;
}

.submit-search:hover {
  cursor: pointer;
}

select {
  font-size: 15px;
  border-radius: 5px;
  padding: 5px;
  background-color: #213037;
  color: white;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.checkboxes div > input {
  height: 18px;
  width: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid #34495e;
  border-radius: 4px;
  outline: none;
  background-color: #cfd1d0;
  cursor: pointer;
}

.checkboxes div > input:checked {
  border: 1px solid white;
  background-color: #34495e;
}

.max-ingredients {
  border: none;
  font-size: 15px;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
  width: 200px;
  background-color: #cfd1d0;
  cursor: text;
  font-family: 'Poppins', sans-serif;
  margin: 5px 0px 30px 30px;
}

