.recipe-list {
  display: flex;
  flex-wrap: wrap;
}

.no-recipes {
  color: #213037;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
}

@media only screen and (max-width: 768px) {
  .recipe-list {
    flex-direction: column;
    margin: 10px;
  }

}
