<div class="recipe-card">
  <img [src]="recipe.image" />
  <div class="recipe-name">{{ recipe.name | titlecase }}</div>
  <div class="recipe-details">
    <div class="time details">
      <mat-icon class="timer">timer</mat-icon>
      <span> {{ recipe.time }} mins</span>
    </div>
    <div class="meal-yield details">
      <mat-icon class="group">groups</mat-icon>
      <span>Serves {{ recipe.servings }} </span>
    </div>
  </div>
  <span class="bookmark-area">
    <button class="bookmark" (click)="setFavorite(recipe)">
      <mat-icon class="bookmark-icon" [style.color]="favColor"
        >favorite</mat-icon
      >
    </button>
  </span>
  <button (click)="toggleInfo()" class="more-info-button">
    LET'S COOK!<span class="material-icons">expand_more </span>
  </button>
  <div *ngIf="showInfo" class="more-info-container">
    <button (click)="toggleInfo()" class="less-info-button">
      <span class="material-icons"> expand_less </span>
    </button>
    <div class="link-container">
      <mat-icon class="link">link</mat-icon>
      <div class="recipe-url">
        <a href="{{ recipe.url }}">Check out this recipe!</a>
      </div>
    </div>
    <div class="ingredient-container">
      <mat-icon class="menu-book">menu_book</mat-icon>
      <div class="ingredients">
        <div *ngFor="let ingredient of recipe.ingredientLines">
          {{ ingredient | titlecase }}
        </div>
      </div>
    </div>
    <div class="diet-health-container">
      <mat-icon class="info">info</mat-icon>
      <div class="diet-health-labels">
        {{ recipe.dietLabels | spaceAfterComma }}
        {{ recipe.healthLabels | spaceAfterComma }}
      </div>
    </div>
  </div>
</div>
