.favorite-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.no-recipes {
  text-align: center;
  margin-top: 30px;
}

@media only screen and (max-width: 768px) {
  .favorite-list {
    flex-direction: column;
    margin: 10px;
  }
}
