<div class="recipe-card">
  <img [src]="" [alt]="" />
  <span class="recipe-name"><a [href]="">Recipe Name</a></span>
  <span class="recipe-details">
    <mat-icon class="dot">fiber_manual_record</mat-icon>
    <span class="meal-type">Breakfast</span>
    <mat-icon class="dot">fiber_manual_record</mat-icon>
    <span class="meal-yield">6 servings</span>
    <mat-icon class="dot">fiber_manual_record</mat-icon>
    <span class="cook-time">60 minutes</span>
    <mat-icon class="dot">fiber_manual_record</mat-icon>
    <span class="diet">Vegan</span>
  </span>
  <div class="bookmark-area">
    <button class="bookmark">
      <mat-icon class="bookmark-icon">favorite</mat-icon>
    </button>
  </div>
</div>
