<div class="recipe-card">
  <img [src]="recipe.image" />
  <span class="recipe-name"
    ><a>{{ recipe.name }}</a></span
  >
  <span class="recipe-details">
    <mat-icon class="dot">fiber_manual_record</mat-icon>
    <span class="meal-type">Breakfast</span>
    <mat-icon class="dot">fiber_manual_record</mat-icon>
    <span class="meal-yield">{{ recipe.servings }} servings</span>
    <mat-icon class="dot">fiber_manual_record</mat-icon>
    <span class="diet">Vegan</span>
  </span>
  <div class="bookmark-area">
    <button class="bookmark">
      <mat-icon class="bookmark-icon">favorite</mat-icon>
    </button>
  </div>
</div>
