/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f1f1f0;
  /* font-family: "Roboto", sans-serif; */
  

}
