* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  clear: both;
  overflow: auto;
}

.logo {
  float: left;
}

.navbar {
  display: flex;
  float: right;
  justify-content: flex-end;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  display: inline;
  justify-content: space-between;
  margin: 10px;
}

a:hover {
  color: orange;
}

a {
  display: block;
  text-decoration: none;
  color: #213037;
  font-weight: 600;
  font-size: 18px;
}

.fruit {
  width: 100%;
  margin: 0px;

}

@media only screen and (max-width: 768px) {
 .fruit {
  display: none;
 }

.navbar {
  margin-top: 10px;
  display: flex;
  float: left;

}

 li {
   background-color: #213037;
   padding: 10px 20px;
   border-radius: 5%;
 }

 a {
   color: white;
   font-size: 14px;
 }

 a:hover {
  color: white;
}

.logo {
  width: 100%;
  margin:0px;
  position: relative;
}
}



